/* Created by: Kenny Le
 * Created on: Feb 2022
 * This CSS file defines the style for index.html ICS2O-Unit-1-04-HTML-CSS
*/

body {
  background-color: #92bcea;
}

h1 {
  background-color: rgb(97 112 115);
  color: hsl(222deg 17.9% 11%);
  padding: 20px;
  text-align: center;
}

p {
  background-color: #7a93ac;
}
